<head th:fragment="head" xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Train+One&display=swap" rel="stylesheet">
    <title>Home</title>
    <style>
        .logo-container {
            background-color: rgba(0, 0, 0, 0.719);
            color: #FFFFFF;
        }

        .logo {
            font-family: 'Train One', cursive;
            font-size: 2.5rem;
            color: white;
        }

        a.link-logo:link{
            text-decoration: none;
            color: none;
        }
    </style>
</head>

<div th:fragment="logo" class="logo-container mb-3 p-3  d-flex justify-content-between">
    <a href="/home" class="link-logo"><span class="logo">Offers Pacato</span></a>
    <span class="mt-3">Login</span>
</div>


<div th:fragment="titulo(valor)" class="jumbotron mb-0">
    <h1 class="display-4" th:text="${valor}">Meus Pedidos</h1>
</div>
